.thumbWidth {
    width: 25%;
}
@media (max-width:420px) {
    .thumbWidth {
        width: 100%;
    }
    
    
  }
  @media (max-width:915px) {
    .thumbWidth {
        width: 100%;
    }
    
    
  }

